[Unit]
Description=Odoo {{ version }}

[Service]
Type=simple
User={{ user }}
LimitNOFILE=16384
ExecStart=/home/{{ user }}/bin/openerp-{{ version }}
ExecStartPost=/bin/sh -c "/bin/echo $MAINPID > /home/{{ user }}/log/openerp-{{ version }}.pid"
ExecStopPost=/bin/sh -c "/bin/rm /home/{{ user }}/log/openerp-{{ version }}.pid"
TimeoutStopSec=5
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target
