[options]
addons_path = {{ addons_path_list | join(',') }}
; data_dir = /var/lib/odoo
; admin_passwd = admin
; csv_internal_sep = ,
db_maxconn = {{ db_maxconn }}
; db_name = False
; db_template = template1
dbfilter = {{ dbfilter }}
; debug_mode = False
; email_from = False
geoip_database = {{ geoip_database }}
; limit_memory_hard = 2684354560
; limit_memory_soft = 2147483648
; limit_request = 8192
limit_time_cpu = {{ limit_time_cpu }}
limit_time_real = {{ limit_time_real }}
list_db = {{ list_db }}
; log_db = {{ log_db }}
; log_handler = [':INFO']
; log_level = {{ log_level }}
logfile = {{ logfile }}
longpolling_port = {{ longpolling_port }}
max_cron_threads = {{ max_cron_threads }}
; osv_memory_age_limit = 1.0
; osv_memory_count_limit = False
proxy_mode = {{ proxy_mode }}
server_wide_modules = {{ server_wide_modules }}
; smtp_password = False
; smtp_port = 25
; smtp_server = localhost
; smtp_ssl = False
; smtp_user = False
unaccent = {{ unaccent }}
without_demo = {{ without_demo }}
workers = {{ workers }}
; xmlrpc = True
xmlrpc_interface = {{ xmlrpc_interface }}
xmlrpc_port = {{ xmlrpc_port }}
; xmlrpcs = True
; xmlrpcs_interface = {{ xmlrpcs_interface }}
; xmlrpcs_port = {{ xmlrpcs_port }}